@import './scss/_reset';
@import './scss/_variables';
@import './scss/_mixins';

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width:65vw;
  margin: 10px auto;
  transition: all 0.3s ease;
  @include media-query(880px){
    width: 55vw;
  }
  @include media-query(641px){
    margin-top: 1rem;
  }
  @include media-query(442px){
    width:90vw;
    margin-top: 2vh;
  }
  &-icons {
    flex-basis:30%;
  }
  .mo {
    text-align: right;
    flex-basis: 30%;
    margin-top: 12px;
    @include media-query(442px){
      flex-basis: 20%;
    }
    img{
      border-radius: 50%;
      border: 1px solid white;
      width: 35px;
      height: 35px;
      @include media-query(442px){
        width:25px;
        height:25px;
        position: absolute;
        top:10px;
        right:10px;
      }
    }
  }
  .heading {
    &-hidden {
      display: none;
      transition: all 0.3s ease-out;
    }
    &-show {
      flex-basis:40%;
      text-decoration: none;
      font-family: $secondary-font;
      color: $crimson;
      font-size: 2.3rem;
      opacity:1;
      text-shadow: 0px 1px 1px black;
      transition: all 0.3s ease-out;
      @include media-query(880px){
        font-size: 1.8rem;
      }
      @include media-query(641px){
        font-size: 1.7rem;
      }
      @include media-query(442px){
        margin-top: 1vh;
        margin-left: -1rem;
        font-size: 1.9rem;
      }
      @include media-query(321px){
        margin-top: 3vh;
        font-size: 1.6rem;
      }
    }
  }
  .fa {
    &-linkedin-square {
      @include header-icon;
      @include media-query(880px){
        font-size: 1.3rem;
        padding-right: 6px;
      }
      @include media-query(442px){
        top: 48px;
        font-size: 1rem;
        position: absolute;
      }
    }
    &-github {
      @include header-icon;
      @include media-query(880px){
        font-size: 1.3rem;
        padding-right: 6px;
      }
      @include media-query(442px){
        top: 72px;
        font-size: 1rem;
        position: absolute;
      }
    }
    &-envelope {
      @include header-icon;
      @include media-query(880px){
        font-size: 1.3rem;
        padding-right: 6px;
      }
      @include media-query(442px){
        top: 94px;
        font-size: 1rem;
        position: absolute;
      }
    }
  }
}

/* Search Input */
.search-input {
  padding: 15px;
  caret-color: red;
  color: white;
  background-color: $transparent-black;
  border-radius: 5px;
  width: 25vw;
  height: 16px;
  border: 0;
  padding: 1.3rem;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  @include media-query(880px){
    margin-top: 0;
    width: 35vw;
  }
  @include media-query(641px){
    padding: 1rem;
    font-size: 1.2rem;
  }
  @include media-query(442px){
    margin-top: 2vh;
    width: 45vw;
  }
  @include media-query(321px){
    margin: 0 0 1rem 0;
  }

  &-shrink {
    margin-top: 6vh;
    margin-bottom: 0;
    padding: 1rem;
    font-size: 1rem;
    caret-color: red;
    color: white;
    background-color: $transparent-black;
    border-radius: 5px;
    width: 30vmax;
    height: 16px;
    border: 0;
    outline: none;
    transition: all 0.3s ease;
    @include media-query(880px){
      margin-top: 3vh;
    }
    @include media-query(442px){
      margin-top: 4vh;
      width: 50vw;
    }
  }
}
/* Main */
.main {
  text-align: center;
  &-container {
    margin: 0 10px;
    transition: all 0.3s ease;
    &-shrink {
      margin-left: 260px;
      @include media-query(641px){
        margin:0;
        height: 100vh;
        overflow: hidden;
      }
    }
  }
  &-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in;
    &-show {
      display: block !important;
    }
    &-title {
      font-family: $secondary-font;
      color: $crimson;
      font-size: 6rem;
      margin-top: 10vh;
      margin-bottom:1rem;
      opacity:1;
      text-shadow: 0px 1px 1px black;
      transition: all 0.3s ease-out;
      @include media-query(641px){
        font-size:4rem;
      }
      @include media-query(442px){
        font-size: 3.3rem;
        margin-top: 14vh;
      }
      @include media-query(321px){
        font-size: 3rem;
      }
    }
  }
}
/* Artist */
.artist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $transparent-black;
  flex-basis: 32%;
  height: 64px;
  padding: 2px 0;
  margin-bottom: 3px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  @include media-query(992px){
    flex-basis: 48%
  }
  @include media-query(880px){
    flex-basis: 100%
  }
  a {
    padding: 5px;
    text-decoration: none;
    color: white;
  }
  img {
    width: 64px;
    height: 64px;
    padding-left: 0;
    border-radius: 50%;
  }
  &-container {
    text-align: left;
    font-size: 16px;
    width: 70vw;
    margin-top: 4vh;
    margin-bottom: 5vh; 
    @include media-query(880px){
      width: 55vw;
    }
    @include media-query(442px){
      width: 85vw;
    }
    span {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: flex-start;    
    }
  }
  &-buttons-albums {
      padding: 5px;
      background-color: $green;
      color: white;
      border-radius: 5px;
      border: 0;
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: bold;
      margin: 0 1vw;
      outline: none;
  }
  &-map-icon {
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    align-self: flex-start;
    &:hover {
      .icons-image {
        opacity: 0.2;
      }
      .icons-middle {
        opacity: 1;
      }
    }
  }
}
/* Single Artist */
.single-artist {
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 90%;
  height:38vh;
  margin-top: 2vh;
  @include media-query(442px){
    margin:0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .left {
    a {
      text-decoration: none;
      color:white;
      font-size:2.8rem;
      @include media-query(442px){
        font-size: 2.5rem;
        position: absolute;
        top:0;
        left:15%
      }
      @include media-query(321px){
        font-size: 2.2rem;
      }
    }
  }
  .between {
    justify-content: center;
    align-items: center;
    flex-basis:25%;
    display:flex;
  }
  .right {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow:auto;
    margin-right:10px;
  }
  &-container {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    height:35vh;
    margin-bottom: 4vh;
    @include media-query(442px){
      margin: 2vh 0 0 0;
      height: 42vh;
      position: relative;
    }
  }
  &-img {
    width:200px;
    height:200px;
    border-radius: 50%;
    margin-right:5px;
    border: 2px solid rgba(255, 255, 255, 0.658);
    @include media-query(442px){
      width: 45vw;
      height: 45vw;
    }
    @include media-query(321px){
      width: 40vw;
      height: 40vw;
    }
  }
  &-title h1 {
    margin-bottom: 1rem;
    @include media-query(442px){
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    @include media-query(321px){
      font-size: 1rem;
    }
  }  
}
/* Album */
.album {
  display: flex;
  flex-basis: 32%;
  justify-content: flex-start;
  height: 64px;
  padding: 2px;
  align-items: center;
  margin-bottom: 2px;
  background-color: $transparent-black;
  border-radius: 3px;
  cursor: pointer;
  @include media-query(992px){
    flex-basis: 48%
  }
  @include media-query(880px){
    flex-basis: 100%
  }
  img {
    margin-right: 5px;
  }
  a {
    margin-right: 15px;
  }
  h5 {
    display: inline-block;
  }
  &-container span {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    text-align: left;
    align-items: flex-start;
    font-size: 16px;
    overflow: auto;
    width: 70vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
    @include media-query(880px){
      width: 55vw;
    }
    @include media-query(442px){
      width: 85vw;
    }
  }
  &-play-icon {
    position: relative;
    margin-right: 5px;
    &:hover {
      .icons-image {
        opacity: 0.2;
      }
      .icons-middle {
        opacity: 1;
      } 
    }
  }
  &-back-link {
    margin-top:2vh;
    a{
      text-decoration: none;
      color: white;
      font-size: 2.5rem;
    }
  }
}
/* Map */
.map {
  height: 48vh !important;
  width: calc(100vw - 265px);
  margin-left:10px;
  overflow: hidden;
  -webkit-box-shadow: 0px -3px 12px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -3px 12px -1px rgba(0,0,0,0.75);
  box-shadow: 0px -3px 12px -1px rgba(0,0,0,0.75);
  @include media-query(442px){
    width: 100vw;
  }
  &-show{
    height: 43vh !important;
  }
  &-infowindow{
    width: 14rem;
    height: 10rem;
    overflow: auto; 
    color: black; 
    padding: 5px;
    opacity: 0.85; 
    background-color: white;
  }
  &-buy-button{
    text-decoration: none;
    padding: 5px;
    color: white;
    background-color: $dark-green;
    border-radius: 5px;
    border: 0;
    margin: 15px auto 0 auto;
    font-size: 1.1rem;
    display: block;
    width: 7rem;
  }
  &-marker-infowindow {
    width: 15rem;
    h3 {
      color: rgb(43, 92, 92);
      font-size: 1.2rem;
      margin: 0 0 1rem 0;
    }
    p{
      font-size: 1rem;
      color: black;
      opacity: 0.9;
      margin: 1px;
      background-color: white;
    }
  }
}
/* Sidebar */
.sidebar {
  -webkit-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.57);
  -moz-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.57);
  box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.57);
  height: 100vh;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -260px;
  background-color: black;
  overflow-X: hidden;
  transition: all 0.3s ease;
  @include media-query(641px){
    height: 100vh;
    width: 100vw;
    left:-100vw;
    position: fixed;
    z-index: 1;
    bottom:-100vh;
    overflow-X: hidden;
    transition: all 0.3s ease;
  }

  img {
    display: block;
    height: 260px;
    text-align: center;
    width: 100%;
    @include media-query(641px){
      display: block;
      height: 260px;
      text-align: center;
      width: 260px;
      margin:0 auto;
    }
  }
  iframe {
    border: 0;
    height: calc(100% - 265px);
  }
  &-show {
    left: 0;
  }
}
.player-toggle {
  position: fixed;
  top: 10px;
  left:10px;
  z-index: 2;
  font-size:2.5rem;
  cursor: pointer;
  opacity: 0.9;
  color: $crimson;
  span {
    &:hover {
      color: $light-red;
    }
  }
}
/* Welcome */
.welcome {
  font-size: 2rem;
  margin: -10vh 10vw 0 10vw;
  @include media-query(442px){
    font-size: 1.5rem;
  }
}
/* Result */
.result {
  font-size: 2rem;
}
/* Loading */
.loading {
  text-align: center;
  font-size: 2.5rem;
  position: absolute;
  top: 45%;
  left: 45%;
  @include media-query(641px){
    font-size: 1.5rem;
  }
}
/* Shared */
.icons {
  &-image {
    opacity: 1;
    display: block;
    width: 64px;
    height: 64px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 3px;
  } 
  &-middle {
    transition: 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
  }
  &-play-icon {
    color: white;
    font-size: 36px;
  }
  &-map-icon {
    color: white;
    font-size: 36px;
  }
}
/* Chevron */
.chevron {
  &::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
  }
  &.right:before {
    left: 0;
    transform: rotate(45deg);
    transition: all 0.1s ease;
  }
  &.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
    transition: all 0.1s ease;
  }
}
/* Not Found */
.not-found {
  position: absolute;
  top: 35%;
  left: 45%;
  h1 {
    margin-bottom: 2rem;
    color: crimson;
  }
  a{
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    margin-top: 2rem;
  }
}
/* Animation */
.artists-fade {
  &-enter{
    opacity: 0;
    &-active{
      opacity: 1;
      transition: opacity 150ms ease-in;
    }
  }
  &-leave{
    opacity: 1;
    &-active{
      opacity: 0;
      transition: opacity 1ms ease-in;
    }
  }
  &-appear{
    opacity: 0;
    &-active{
      opacity: 1;
      transition: opacity 300ms ease-in;
    }
  }
}
.albums-fade {
  &-enter{
    opacity: 0;
    &-active{
      opacity: 1;
      transition: opacity 150ms ease-in;
    }
  }
  &-leave{
    opacity: 1;
    &-active{
      opacity: 0;
      transition: opacity 1ms ease-in;
    }
  }
  &-appear{
    opacity: 0;
    &-active{
      opacity: 1;
      transition: opacity 300ms ease-in;
    }
  }
}
.artist-fade {
  &-appear{
    opacity: 0;
    &-active{
      opacity: 1;
      transition: opacity 1000ms ease;
    }
  }
}