body {
    background-color: #000f1d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%2300ffea' stroke-width='66.7' stroke-opacity='0' %3E%3Ccircle fill='%23000f1d' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23031624' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23031c2b' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23022232' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23002838' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23002e3f' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23003446' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23003b4c' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23004252' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23004957' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23004f5c' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23005661' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23005d65' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23006469' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23006c6d' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23007370' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23007a72' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23008174' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    /* width: 100%;
    height: 100%; */
}
.sidebar {
    -webkit-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.57);
    box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.57);
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-X: hidden;
}
.sidebar img {
    display: block;
    height: 37%;
    text-align: center;
    width: 100%;
}
.sidebar iframe {
    border: 0
}
.main-container {
    padding-right: 15px;
    margin-left: 8px;
}
.main {
    margin-left: 260px;
    text-align: center;
    height: 50%;
}
.main-middle {
    height: 19rem;
}
.album-title {
    margin: 0
}
.loading {
    font-size: 45px;
    position: fixed;
    top: 45%;
    left: 45%;
    /* margin: 50%; */

}
.header {
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 50px;
    margin-top: 5px;
}
.header-icons {
    margin-left: 10px;
}
/*
.header-head {
    flex-basis: 32%
} */
header h1 {
    font-family: 'Lobster', cursive;
    color: crimson;
    font-size: 34px;
    text-shadow: 0px 2px 3px black;
    margin: 0;
    margin-left: -90px;
}
.fa-linkedin-square, .fa-github, .fa-envelope {
    color: white;
    font-size: 30px;
    margin-right: 12px;
}

.developer img{
    border-radius: 50%;
    border: 2px solid white;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-top: 5px;
}
/* .develper h4 {
    position: relative;
    display: inline-block;
} */
.developer {
    display: flex;
    /* position: fixed;
    top: 10px;
    right: 2px; */
    /* width: 150px; */
    /* flex-basis: 32% */
}
.search-input {
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.347);
    border-radius: 5px;
    width: 300px;
    height: 18px;
    border: 0;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    outline: none;
}
.album-play-icon {
    position: relative;
    margin-right: 5px;
}
.image {
    opacity: 1;
    display: block;
    width: 64px;
    height: 64px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 3px;
} 
.middle {
    transition: .1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}
.album-play-icon:hover .image {
    opacity: 0.2;
}
.album-play-icon:hover .middle {
    opacity: 1;
} 
.play-icon {
    color: white;
    font-size: 36px;
}
.artist-icon {
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    align-self: flex-start;
}
.artist-icon:hover .image {
    opacity: 0.2;
}
.artist-icon:hover .middle {
    opacity: 1;
} 
.artist-text {
    flex-direction: column;
    align-self: flex-start;
}
.map-icon {
    color: white;
    font-size: 36px;
}
.artist-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    text-align: left;
    padding-bottom: 15px;
    /* height: 200px; */
    overflow: auto;
    align-items: flex-start;
    margin-top: 5px
}
.artist {
    display: flex;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 3px;
    flex-basis: 32%;
    justify-content: flex-start;
    height: 64px;
    padding: 4px;
    align-items: center;
    margin-bottom: 2px;
}
.artist a {
    padding: 5px;
}
.artist img {
    width: 64px;
    height: 64px;
}
.artist-buttons-albums {
    padding: 5px;
    background-color: rgba(50, 167, 112, 0.486);
    color: white;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    margin-left: 15px;
}
.artist-buttons-map {
    background-color: crimson;
    border: 0;
    border-radius: 50%;
    color:white;
    font-size:22px;
    margin-left: 5px;
    opacity: 0.8;
    /* height: 35px;
    width:35px; */
}
.artist-buttons {
    display: flex;
    justify-content: space-between
}
.artist span {
    background-color: tomato;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
}
.album-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    text-align: left;
    padding-bottom: 15px;
    margin-bottom: 10px;
    height: 180px;
    overflow: auto;
}
.album {
    display: flex;
    flex-basis: 23%;
    justify-content: flex-start;
    height: 64px;
    padding: 4px;
    align-items: center;
    margin-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 3px;
    cursor: pointer;
}
.album a {
    margin-right: 15px;
}
.album h5 {
    display: inline-block;
}
.back-to-artist {
    margin: 12px;
    font-size: 16px;
    cursor: pointer;
}
#map {
    width:100%-260px;
    /* height: 300px; */
    margin-left: 5px;
}
/* map: {
    padding: 0,
    position: 'absolute',
    bottom: 0,
    height: '40%',
    width: '100%'

  }, */

@media screen and (max-width: 992px){
    .album {
        flex-basis: 48%
    }
    .artist {
        flex-basis: 48%
    }
}
@media screen and (max-width: 641px){
    .album {
        flex-basis: 100%
    }
    .artist {
        flex-basis: 100%
    }
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(230, 230, 230); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(204, 201, 201); 
}