body {
    background-color: #000f1d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%2300ffea' stroke-width='66.7' stroke-opacity='0' %3E%3Ccircle fill='%23000f1d' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23031624' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23031c2b' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23022232' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23002838' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23002e3f' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23003446' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23003b4c' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23004252' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23004957' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23004f5c' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23005661' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23005d65' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23006469' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23006c6d' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23007370' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23007a72' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23008174' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width:75vw;
    margin: 5px auto;
    /* margin: 1vh 5vw; */
    transition: all 0.3s ease;
}
.header-icons {
    flex-basis:30%;
}
.mo {
    text-align: right;
    flex-basis: 30%;
    margin-top: 12px;
}
.heading-hidden {
    opacity: 0;
    transition: all 0.3s ease-out;
}
.heading-show {
    flex-basis:40%;
    font-family: 'Lobster', cursive;
    color: crimson;
    font-size: 2.3rem;
    opacity:1;
    text-shadow: 0px 2px 3px black;
    transition: all 0.3s ease-out;
    /* margin-left:-32px; */
}
/* .header-shrink {
    margin-left: 260px;
} */
.fa-linkedin-square, .fa-github, .fa-envelope {
    color: white;
    font-size: 30px;
    padding-right: 12px;
}
.mo img{
    border-radius: 50%;
    border: 2px solid white;
    width: 35px;
    height: 35px;
    /* margin-right: 2vw; */
    /* margin-top: 5px; */
}
/* .mo {
    display: flex;
} */
/* Search Input */
.search-input {
    padding: 15px;
    caret-color: red;
    color: white;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 5px;
    width: 12rem;
    height: 16px;
    border: 0;
    font-size: 1.5rem;
    margin-top: 30vh;
    margin-bottom: 8px;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.3s ease;
}
.search-input-shrink {
    margin-top: 6vh;
    margin-bottom: 0;
    padding: 10px;
    font-size: 1rem;
    caret-color: red;
    color: white;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 5px;
    width: 23vw;
    height: 16px;
    border: 0;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.3s ease;
}
.search-input::-webkit-input-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
}
.search-input:-ms-input-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
}
.search-input:-moz-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
}
.search-input::-moz-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
}
/* Main */
.main-container {
    margin: 0 10px;
    transition: all 0.3s ease;
}
.main-container-shrink {
    margin-left: 260px;
}
.main {
    text-align: center;
}
.main-middle-show {
    display: block !important;
}
.main-middle {
    /* height: 44vh; */
    display: flex;
    /* overflow: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in;
}
/* Artist */
.artist-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    /* height: 100%; */
    width: 80vw;
    align-items: flex-start;
    margin-top: 4vh;
    margin-bottom: 5vh;
    /* overflow: hidden; */
}
.artist {
    display: flex;
    background-color: rgba(0, 0, 0, 0.247);
    flex-basis: 32%;
    justify-content: space-between;
    height: 64px;
    padding: 2px 0;
    align-items: center;
    margin-bottom: 3px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.artist a {
    padding: 5px;
    text-decoration: none;
    color: white;
}
.artist img {
    width: 64px;
    height: 64px;
    padding-left: 0;
    border-radius: 50%;
}
.artist-buttons-albums {
    padding: 5px;
    background-color: rgba(50, 167, 112, 0.486);
    color: white;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    margin: 0 1vw;
    outline: none;
}
.artist-buttons-map {
    background-color: crimson;
    border: 0;
    border-radius: 50%;
    color:white;
    font-size:22px;
    margin-left: 5px;
    opacity: 0.8;
}
.artist span {
    background-color: tomato;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
}
.artist-icon {
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    align-self: flex-start;
}
.artist-icon:hover .image {
    opacity: 0.2;
}
.artist-icon:hover .middle {
    opacity: 1;
}
/* Single Artist */
.single-artist-container {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    /* justify-content: space-around; */
    /* align-items: center; */
    height:35vh;
    margin-bottom: 4vh;
    /* width:100%;     */
}
/* .first {
    display:flex;
    justify-content: flex-start;
    margin-left:25vw;
    flex-basis: 10%;
} */
.left a{
    text-decoration: none;
    color:white;
    font-size:3.2rem;
}
.single-artist {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 90%;
    height:30vh;
    margin-top: 2vh;
    /* background-color: rgba(0, 0, 0, 0.603); */
}
.single-artist .between {
    /* display:flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-basis:25%;
    /* width:30vw; */
    /* height:30vh; */
}
.single-artist-img {
    width:200px;
    height:200px;
    border-radius: 50%;
    margin-right:5px;
    border: 2px solid rgba(255, 255, 255, 0.658);
}
/* .second .between {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis:20%; */
    /* width:30vw; */
    /* height:30vh;
    overflow:auto;
    margin-right:10px;
} */
.single-artist .right {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-basis:20%; */
    /* width:30vw; */
    /* height:30vh; */
    overflow:auto;
    margin-right:10px;
}
.countries {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* height:20vh; */
    overflow: auto;
    justify-content: center;
    align-items: flex-start;
}
.country {
    flex-basis: 28%;
    padding: 0 5px;
    /* background-color: rgb(52, 146, 95); */
    border-radius: 5px;
    margin:2px 2px 0 2px;
    /* text-align:left; */
}
/* .single-artist-container div{
    border: 1px solid red;
} */
/* .single-artist-container img {
    flex-basis: 30%;
    width:250px;
    height:250px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.658);
}
.single-artist-info {
    display: flex;
    flex-basis: 60%;
    align-items: flex-start;
    flex-direction: column;
}
.countries {
    display: flex;
}
.genres {
    display: flex;
    justify-content: flex-start;
    align-items: center;
} */
/* Album */
.album-container {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    text-align: left;
    align-items: flex-start;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    overflow: auto;
    /* height: 28vh; */
    width: 70vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
    /* transition: all 3s ease; */
    /* visibility: hidden; */
}
.album {
    display: flex;
    flex-basis: 32%;
    justify-content: flex-start;
    height: 64px;
    padding: 2px;
    align-items: center;
    margin-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 3px;
    cursor: pointer;
}
.album img {
    margin-right: 5px;
}
.albums-back-link {
    margin-top:5vh;
}
.albums-back-link a{
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}
.album a {
    margin-right: 15px;
}
.album h5 {
    display: inline-block;
}
.album-play-icon:hover .image {
    opacity: 0.2;
}
.album-play-icon:hover .middle {
    opacity: 1;
} 
.album-play-icon {
    position: relative;
    margin-right: 5px;
}
/* Map */
.map {
    height: 50vh !important;
    width: 75vw;
    margin-left: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px -3px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -3px 12px -1px rgba(0,0,0,0.75);
    box-shadow: 0px -3px 12px -1px rgba(0,0,0,0.75);
    /* transition: all 1s ease-in-out; */
}
.map-show {
    height: 43vh !important;
}
#infowindow p{
    font-size: 1rem;
    margin: 8px;
}
/* Sidebar */
.player-toggle span:hover {
    color: rgb(248, 9, 9);
}
.sidebar {
    -webkit-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.57);
    box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.57);
    height: 100vh;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -260px;
    background-color: black;
    overflow-X: hidden;
    transition: all 0.3s ease;
}
.sidebar-toggle {
    left: 0;
}
.sidebar img {
    display: block;
    height: 37vh;
    text-align: center;
    width: 100%;
}
.sidebar iframe {
    border: 0
}
.player-toggle {
    position: fixed;
    top: 10px;
    left:10px;
    z-index: 2;
    font-size:2.5rem;
    cursor: pointer;
    opacity: 0.9;
    color: crimson;
}
/* Welcome */
.welcome {
    /* border:1px solid red; */
    /* padding: 50vw; */
    font-size: 2rem;
    /* margin: auto 5vw; */
    margin: -10vh 5vw 0 5vw;



}
/* Result */
.result {
    font-size: 2rem;
}
/* Loading */
.loading {
    font-size: 45px;
    position: fixed;
    top: 45%;
    left: 45%;
}
/* Shared */
.image {
    opacity: 1;
    display: block;
    width: 64px;
    height: 64px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 3px;
} 
.middle {
    transition: 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}
.play-icon {
    color: white;
    font-size: 36px;
}
.map-icon {
    color: white;
    font-size: 36px;
}
/* Back to Artist */
.back-to-artist {
    margin-bottom: 24px;
    font-size: 1.8rem;
    cursor: pointer;
}
/* Chevron */
.chevron::before {
	border-style: solid;
    border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}
.chevron.right:before {
	left: 0;
    transform: rotate(45deg);
    transition: all 0.1s ease;
}
.chevron.left:before {
	left: 0.25em;
    transform: rotate(-135deg);
    transition: all 0.1s ease;
}
/* Media Queries */
@media screen and (max-width: 992px){
    .album {
        flex-basis: 48%
    }
    .artist {
        flex-basis: 48%
    }
}
@media screen and (max-width: 641px){
    .album {
        flex-basis: 100%
    }
    .artist {
        flex-basis: 100%
    }
    .heading-show {
        font-size: 1.5rem;
    }
    .heading {
        font-size: 3rem;
    }
    .search-input {
        margin-top: 23vh;
    }
    .player-toggle {
        display: none;
    }
}
@media screen and (max-width: 442px){
    
}
/* Scrollbar */
/* Width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(230, 230, 230); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(204, 201, 201); 
}