$dark-blue: #000f1d;
$primary-font: 'Avenir-Book','Source Sans Pro', sans-serif;
$secondary-font: 'Lobster', cursive;
$transparent-black: rgba(0, 0, 0, 0.425);
$green: rgba(3, 241, 129, 0.486);
$dark-green: rgb(21, 180, 119);
$crimson: crimson;
$light-red: red;